body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi', sans-serif;
    background-color: #F6F6F6;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
}

.brand-name {
    font-size: 50px;
    font-weight: bold;
    color: #FE9E0D;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

button {
    border: 1px solid #F6F6F6;
    background: #F6F6F6;
    font-family: 'Reem Kufi';
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;

}

a {
    text-decoration: none;
}

.cart-icon {
    font-size: 1.5em;
}

.booking-button button {
    border-radius: 45px;
    padding: 15px;
    background-color:#FE9E0D;
    color: white;
    font-size: 15px;
    text-align: center;
}

.main-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    padding: 30px;
    margin: 50px;
}

img {
    width: 70vh;
}

h1 {
    color: #4C4C4C;
    padding: 0px;
    margin: 0px;
}

.order-button {
    border-radius: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FE9E0D;
    border: 2px solid white;
    font-size: 14px;
    text-align: center;
    width: 40%;
    font-weight: bold;
    color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-container {
    display: flex;
    gap: 100px;
    padding: 30px;
    margin: 50px;
}

h3 {
    color: #505050;
}

h4 {
    color: #FE9E0D;
}

.learn-more-button {
    border-radius: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FE9E0D;
    border: 2px solid white;
    font-size: 14px;
    text-align: center;
    width: 40%;
    font-weight: bold;
    color: white;
}

.work-container {
    text-align: center;
}

.test-container {
    text-align: center;
    padding: 30px;
}

.test-card {
    background-color: white;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 30px;
    padding: 10px, 0px, 10px, 0px

}

.card-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards {
    background: white;
    height: 250px;
    width: 15%;
    text-align: center;
    margin: 20px;
    border-radius: 8%;
}

.card-text {
    font-size: 12px;
    margin: 8px;
}
