body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi', sans-serif;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
}

.brand-name {
    font-size: 30px;
    font-weight: bold;
    color: #FE9E0D;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.cart-icon {
    font-size: 1.5em;
}

.booking-button {
    border-radius: 45px;
    padding: 10px;
    background-color: white;
    border: 2px solid #393b40;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}